<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   <style>
    .footer{
        margin-top: 4rem;
        position: relative;
        bottom: 0;
        background-color: white;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }

    .links{
        
        display: flex;
    }

    .links li{
        margin: 0.5rem;
        list-style: none;
    }

    .links li a,a{
        text-decoration: none;
        color: #37383d;
        font-size: 1rem;
    }

    .links li a:hover,a:hover{
        text-decoration: underline;
        font-weight: 500;
    }

    @media (max-width:910px){
        .footer{
            flex-direction: column;
        }
        .links{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
   </style>
  </head>
  <body>
    <div class="footer">
        <h3 class="signupheading">Angel<span>Pool</span></h3>
        <ul class="links">
            <li><a href="/home">Home Page</a></li>
            <li><a href="/jobs">New Openings</a></li>
            <li><a href="/user/login">User Login</a></li>
            <li><a href="/user/register">User Register</a></li>
            <li><a href="/terms">Terms and condition</a></li>
        </ul>
        <p>Copyright &#169;2024; Angel pool</p>
    </div>
  </body>
</html>