<% layout('layouts/boilerplate') %>

<style>

.terms{
    background-color: white;
    padding: 2rem;
}
.head{
    font-size: 2rem;
    font-weight: 500;
}.text{
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
}
.text span{
    color: #55bc7e;
    text-decoration: underline;
}
@media (max-width:450px){
    .head{
        font-size: 1.5rem;
    }
    .text{
        font-size: 1.8rem;
    }
}
</style>

<body class="">
    <div class="terms">
    <h1 class=" text" >Terms &<span> Condition</span></h1>
    <p>Welcome to Angel Job Pool! These Terms and Conditions  govern your use of our website and services. By accessing or using our Services, you agree to comply with and be bound by these Terms. If you do not agree to these Terms, please do not use our Services.</p>
    <h3 class="head">Eligibility</h3>
    <p>You must be at least 18 years old to use our Services. By using Angel Job Pool, you represent and warrant that you meet this age requirement.</p>
    <h3 class="head">User Accounts</h3>
    <p>To access certain features of our Services, you may be required to create an account. You agree to:</p>
    <ul>
        <li>Provide accurate, current, and complete information during the registration process.</li>
        <li>Maintain and promptly update your account information to keep it accurate, current, and complete.</li>
        <li>Maintain the security of your password and accept all risks of unauthorized access to your account.</li>
    </ul>
    <h3 class="head">Use of Services</h3>
    <p>You agree to use our Services only for lawful purposes and in accordance with these Terms. You are responsible for all activities that occur under your account.</p>
    <h3 class="head">Prohibited Conduct</h3>
    <p>You agree not to:</p>
    <ul>
        <li>Use the Services for any illegal or unauthorized purpose.</li>
        <li>Post or transmit any content that is harmful, offensive, or violates any laws.</li>
        <li>Interfere with or disrupt the integrity or performance of the Services.</li>
    </ul>
    <h3 class="head">Job Listings</h3>
    <p>Employers may post job listings on Angel Job Pool. Employers are solely responsible for the content of their job listings and ensuring they comply with all applicable laws and regulations. Angel Job Pool does not guarantee the accuracy, completeness, or legitimacy of any job listing.</p>
    <h3 class="head">User Content</h3>
    <p>You are solely responsible for the content you post, upload, or otherwise make available through our Services. You grant Angel Job Pool a non-exclusive, royalty-free, worldwide license to use, display, reproduce, and distribute your content in connection with our Services.</p>
    <h3 class="head">Intellectual Property</h3>
    <p>All content, trademarks, service marks, and logos included on our Services are the property of Angel Job Pool or its licensors. You may not use any of these materials without our prior written consent.</p>
    <h3 class="head">Termination</h3>
    <p>We reserve the right to terminate or suspend your account and access to our Services at our discretion, without notice, for conduct that we believe violates these Terms or is harmful to other users of our Services, us, or third parties, or for any other reason.</p>
    <h3 >Termination</h3>
    <h3 >Disclaimers</h3>
    <p>Our Services are provided on an "as is" and "as available" basis. We make no warranties, expressed or implied, regarding the availability, accuracy, or completeness of the Services.</p>
   

</div>
</body>