<% layout("/layouts/homeboilerplate") %>


<link rel="stylesheet" href="/css/home.css">



<body class="homebody">
      <div class="home">
         <div class="text">
          <p>Get World <span>20,000+</span> talenetd people in one place</p>
          <h2>Find your job & make sure goal</h2>
          <h4>Your dream job is waiting for you</h4>
          <form action="/jobs" method="get">
            <button class="find">Find a Job</button>
          </form>
          <h5>We are trusted by: </h5>
          <div class="brandicons">
              <img src="../images/google.png" alt="">
              <img src="../images/amazon .png" alt="">
              <img src="../images/instahram.png" alt="">
              <img src="../images/windows.png" alt="">
          </div>
         </div>
      </div>
  
  
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
      <script src="/js/navbar.js"></script>
  </body>