<% layout('layouts/boilerplate') %>

<body>
    <div class="box1">
    <div class="uploadcv">
   <h5>Drop your CV here</h5>
    <form class="form"
        action="/upload-cv"
        method="post"
        enctype="multipart/form-data"
        novalidate
        class="row g-3 needs-validation offset-3"
      >

      <div class="col-md-10">
        <label for="resume" class="form-label"></label>
        <input type="file" name="resume" required class="form-control" />
        <p class="formatspecifier">Allowed formats is .pdf</p>
      </div>
      <div class="col-md-10">
        <button class="loginbtn">Upload</button>
      </div>
    </form>

</div>
</div>
</body>